{%extends 'base.html'%}

{% block content%}

{%block styles%}
{{block.super}}
<link rel="stylesheet" href="../static/home.css">

{%endblock%}

{% for photo in photos %}

<div class="post card">

    <h4 class="username card-header">{{photo.user}}</h4>

    <img src="{{photo.photo_url.url}}" alt="image">
    <div class="card-footer">
        <p>{{photo.name}}</p>
        <p>{{photo.captions}}</p>
        

        <div>
            <a href="" class="btn-success btn button">
                {{photo.likes}} likes
            </a>
            <a href="{% url 'like'%}" class="btn-primary btn button">
                Like
            </a>
            <a href="" class="btn-info btn button">
                Comment
            </a>
        </div>
    </div>
</div>

{%endfor%}



{% endblock %}