{%extends 'base.html'%}
{%load bootstrap3%}
{%load staticfiles%}

{% block content%}
    {%block styles%}
    {{block.super}}
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/profile.css">
    {%endblock%}

    
    <form class="form container form profileform btn-success " action="{% url 'profileupdate' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {%bootstrap_form form%}
        <input type="submit" value="Post">
    </form>
{%endblock%}